In [8]:

import requests

from bs4 import BeautifulSoup

In [116]:
Names = []
Prices = []
Ratings = []
Boughts = []
Original_prices = []

url = 'https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000'
for i in range(2,11):
    r = requests.get(url)
    soup = BeautifulSoup(r.text,'html.parser')
      
    names = soup.find_all('span',{"class":"a-size-medium a-color-base a-text-normal"})
    for i in names :
        name = i.text
        Names.append(name)
    
    
    prices = soup.find_all('span',{"class":"a-price-whole"})
    for i in prices :
        price = i.text
        Prices.append(price)
    
    ratings = soup.find_all('span',{'class':'a-icon-alt'})
    for i in ratings :
        rating = i.text
        Ratings.append(rating)
        
    Ratings.pop(-1)
    
    boughts = soup.find_all('span',{"class":"a-size-base a-color-secondary"})
    for i in boughts :
        bought = i.text
        Boughts.append(bought)
        
    original_prices = soup.find_all('span',{'class':'a-offscreen'})
    for i in original_prices:
        original_price = i.text
        Original_prices.append(original_price)
    
    link = soup.find('a',{"class":"s-pagination-item s-pagination-button s-pagination-button-accessibility"}).get("href")
    link = link[:-1]
    complete_next_link = "https://www.amazon.in"+link+str(i)
    url = complete_next_link

In [118]:
# creating dict for list 

import pandas as pd

df= pd.DataFrame({"Names":Names ,"Price":Prices ,"Rating":Ratings})
df

,Names,Price,Rating
0,"OnePlus 12R (Iron Gray, 16GB RAM, 256GB Storage)","40,999",4.3 out of 5 stars
1,Apple iPhone 15 (128 GB) - Blue,"65,900",4.5 out of 5 stars
2,Samsung Galaxy S23 Ultra 5G AI Smartphone (Gre...,"74,999",4.5 out of 5 stars
3,"iQOO 12 5G (Legend, 16GB RAM, 512GB Storage)","57,998",4.5 out of 5 stars
4,"OnePlus 12 (Flowy Emerald, 16GB RAM, 512GB Sto...","66,999",4.4 out of 5 stars
...,...,...,...
139,"iQOO 12 5G (Alpha, 12Gb Ram, 256Gb Storage) |I...","52,998",4.5 out of 5 stars
140,"OnePlus 12 (Silky Black, 16GB RAM, 512GB Storage)","66,999",4.4 out of 5 stars
141,Apple iPhone 15 Plus (128 GB) - Black,"69,900",4.6 out of 5 stars
142,"iQOO 12 5G (Legend, 12GB RAM, 256GB Storage)","52,998",4.5 out of 5 stars
143,Samsung Galaxy S24 5G AI Smartphone (Marble Gr...,"57,999",3.5 out of 5 stars

In [111]:
for i in range(2,11):
    url = 'https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000'
    link = soup.find('a',{"class":"s-pagination-item s-pagination-button s-pagination-button-accessibility"}).get("href")
    link = link[:-1]
    complete_next_link = "https://www.amazon.in"+link+str(i)
    url = complete_next_link
    print(url)

https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=2
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=3
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=4
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=5
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=6
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=7
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=8
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=9
https://www.amazon.in/mobile-under-50000-60000/s?k=mobile+under+50000-60000&page=10

In [120]:
df.to_csv("amazone_phone_in_range_50000-60000.csv" , index=False)